/* :host {
  text-align: center;
  font-size: 1em;
  --form-line-height: 50px;
  --field-width: 80%;
  --field-height: 20px;
  --field-border-width: 1px 1px 1px 1px;
  --field-border-color: black;
  --field-border-style: solid;
  --submit-button-width: 80%;
  --input-file-opacity: 0;
  --input-file-span-left: 0;
} */

phemium-card .main-form {
  line-height: 50px;
}

phemium-card .form-field {
  width: 80%;
  height: 20px;
  border-width: 80%;
  border-color: black;
  border-style: solid;
}

phemium-card .file-field {
  display: inline-flex;
  position: relative;
  align-items: center;
}

phemium-card .input-hidden {
  opacity: 0;
  width: 100%;
  position: absolute;
  left: 0;
}

phemium-card .form-submit {
  width: 80%;
}

/* phemium-card span {
  position: absolute;
  left: 0;
} */

/* phemium-card ::slotted([slot="file-end"]) {
  float: right;
}

phemium-card ::slotted([slot="file-start"]) {
  position: absolute;
  left: 0;
} */
