/* :host {
  text-align: center;
  font-size: 1em;
  --form-line-height: 50px;
  --field-width: 80%;
  --field-height: 20px;
  --field-border-width: 1px 1px 1px 1px;
  --field-border-color: black;
  --field-border-style: solid;
  --submit-button-width: 80%;
  --input-file-opacity: 0;
  --input-file-span-left: 0;
} */

phemium-card .main-form {
  /* line-height: 50px; */
}

phemium-card .form-field {
  width: 80%;
  height: 20px;
  border-width: 1px;
  border-color: black;
  border-style: solid;
}

phemium-card .file-field {
  display: inline-flex;
  position: relative;
  align-items: center;
  z-index: 1;
}

phemium-card .input-hidden {
  z-index: 2;
  opacity: 0;
  width: 100% !important;
  position: absolute;
  left: 0;
}

phemium-card .form-submit {
  width: 80%;
}

phemium-card .fake-inut-file-container {
  position: relative;
}

/* phemium-card span {
  position: absolute;
  left: 0;
} */

/* phemium-card ::slotted([slot="file-end"]) {
  float: right;
}

phemium-card ::slotted([slot="file-start"]) {
  position: absolute;
  left: 0;
} */

/* The switch - the box around the slider */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

/* input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
} */

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.notifications-checkbox-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 45px;
}

.notifications-text {
  font-size: 2em;
  position: absolute;
  left: 10%;
}

.notifications-toggle {
  position: absolute;
  right: 10%;
}

.terms-checkbox-container {
}

.terms-text {
}

.accept-buttons-container {
}
.refuse-button {
}
.accept-button {
}
